<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" lang="ru"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BooksShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/jquery-bundle.min.js" type="text/javascript"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <a class="navbar-brand" asp-controller="Autors" asp-action="Autors">Авторы</a>
            <a class="navbar-brand" asp-controller="Books" asp-action="Books">Книги</a>
            <a class="navbar-brand" asp-controller="ExelToFromDb" asp-action="Index">Excel</a>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - BooksShop
        </div>
    </footer>
</body>
</html>
