@{
    ViewData["Title"] = "Excel файл";
}

<div class="card text-center">
    <div class="card-header text-center"><h4>@ViewData["Title"]</h4></div>
    <div class="card-body">

        @* Форма для загрузки файла excel *@
        <form asp-action="Load" method="post" enctype="multipart/form-data" class="m-4">
            <div class="input-group">
                <div class="custom-file">
                    <input name="File" type="file" accept=".xls,.xlsx" class="form-control-file">
                </div>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Добавить в базу</button>
                </div>
            </div>
        </form>

        @* Кнопка скачивания файла excel *@
        <a asp-action="Download" class="btn btn-primary" role="button">Скачать Excel файл данных</a>

    </div>
</div>